<!-- Web_App/Twitoff/templates/books.html-->

{% extends "layout.html" %}

{% block content %}
    
    <h1>Books Page</h1>

    <p>Hello, welcome to the books page...</p>


    <!-- # the following text in curly brackets is ginja language, not html, 
    but flask readable -->

    {% if books %}
        <ul>
        {% for book in books %}
        <li>{{ book.title }}</li>
        {% endfor %}
        </ul>
        
    {% else %}
        <p>Books not found.</p>
    {% endif %} 

{% endblock %}